header{
    background-color: #ff7f00;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    height: 5vh;
    margin-left: 5%;
}
.header-btn{
    margin-right: 5%;
    color: antiquewhite;
    font-size: 2rem;
}
.header-btn:hover{
    color: rgb(63, 70, 70);
} 